body,p{
	margin:auto;
	max-width:1080px;
	line-height:1.6;
	font-size:18px;
  font-family: 'Roboto', sans-serif;
	color:#0e0e0e;
  padding:3px;
  background-color: #e3e3e3;
}
  

h1,h2,h3{
  line-height:1.2;
  color: #0089a1;
}
footer p {
  font-size: 10px;
  max-width:1080px;
  text-align: center;
}	  
blockquote {
  font-size:16px;
}
pre {
  color: #444;
  background-color: beige;
  font-size:14px;
  margin:auto;
  line-height:1.3;
  overflow: auto;
  white-space: pre-wrap;
}	


code {
  background-color: beige;
  overflow: auto;
  margin:auto;
}
.quote {
  font-size:14px;
  text-align: center;
}
.topnav {
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-style: italic;
  border-radius: 5px;
}

.topnav a:hover {
  background-color: #ffb795;
  border-radius: 5px;
}

.topnav a.active {
  color: black;
  border-radius: 5px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  /*float: left;*/
  width: 100%;
  text-decoration: none;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #dddddd;
  padding: 10px;
  margin-top: 10px;
  max-width:650px;
  border-radius: 5px;
}

.card a:hover {
  background-color: #999999;
}
.cardp {
  background-color: rgb(221, 221, 221);
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

/* Pagination links */
.pagination a {
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border-radius: 5px;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #0089a1;
  color: black;
  border-radius: 5px;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}